# copy this file as `.env.dev` in the root directory of your project
# and add your secrets to that file,
# this will be used by tests/__init__.py to load client config

TIGRIS_SERVER_URL="https://api.preview.tigrisdata.cloud"
TIGRIS_PROJECT=""
TIGRIS_CLIENT_ID=""
TIGRIS_CLIENT_SECRET=""